.main{
    height: 100vh;
    width: 100vw;
    position: relative;
    
}
.content{
    height: 90vh;
    width: 85vw;
    position: absolute;
    top: 10vh;
    left: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.maincontent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.head{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
}
#not{
    width: 30%;
}
#show{
    width: 60%;
}
.heading{

    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    height: 20%;
    width: 100%;
    display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards in a row on large screens */
  gap: 1rem;
    padding-left: 5%;
}
.charts{
    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5%;
    flex-shrink: 0;
}
.chart{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}
.chart:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.footer{
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
@media (max-width: 500px){
    .content{
        left: 0vw;
        width: 100vw;
        
        overflow: auto;
    }
    .heading{
        width: 100%;
        justify-content: center;
    }
    .cards{
        
        height: 70%;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        place-items: center;
        flex-shrink: 0;
    }
    
    .charts{
        display: none;
    }
    .footer{
        
        height: 30%;
        width: 90%;
        margin-top: 5%;
    }
}